<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LibroTEC</title>
        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">       
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
            <a class="navbar-brand" href="#">Bienvenido a LibroTEC</a>  
        </nav>
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/login" method="POST">
                        <div class="form-group">
                                <input type="text" name="email" placeholder="Inserte el email" class="form-control">
                        </div>    
                        <div class="form-group">
                                <input type="text" name="password" placeholder="Inserte la contraseña" class="form-control">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success btn-block">Iniciar Sesión</button>
                        </div>
                        <div>
                            <a href="/register" class="btn btn-primary btn-block">Registrarse</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>