<% include partials/header%>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://waarket.com/wp-content/uploads/2015/04/7-Libros-de-Marketing-imprescindibles.jpg" class="d-block w-100" >
        </div>
        <div class="carousel-item">
            <img src="http://static.betazeta.com/www.belelu.com/up/2014/03/libros1.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="https://bookhunterblog.files.wordpress.com/2012/07/boulandier-2.jpg" class="d-block w-100">
        </div>
    </div>
</div>

<% include partials/footer%>