<% include partials/header%>

<div class="container">
    <div class="row">
        <div class = "col-md-4 mx-auto">
            <div class = "card">
                <div class = "card-body">
                    <form action="/searchBooks" method="GET">
                        <div class="form-group">
                            <input type="text", name="library", placeholder="Insertar librería" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text", name="name", placeholder="Insertar nombre" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text", name="topic", placeholder="Insertar tema" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text", name="price1", placeholder="Insertar precio mayor" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text", name="price2", placeholder="Insertar precio menor" class="form-control">
                        </div>
                        <button type= "submit", class="btn btn-info btn-block"> 
                            Buscar 
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class = "col-md-8 mx-auto">
            
            
        </div>
    </div>
</div>


<% include partials/footer%>