<% include partials/header%>

<div class="container">
    <div class="row">
        <div class = "col-md-8 mx-auto">
            <table class = "table  table-sm table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nombre del libro</th>
                        <th>Cantidad de veces solicitado</th>
                    </tr>
                </thead>
                <body>
                    <% for(var i = 0; i < result.length; i++) { %>
                        <tr>
                            <td><%= result[i][0] %></td>
                            <td><%= result[i][1] %></td>
                        </tr>
                    <% } %> 
                </body>
            </table>
        </div>
    </div>
</div>
<% include Partials/footer%>