<% include partials/header%>
<div class="container">
    <div class="row">
        <div class = "col-md-4 mx-auto">
            <div class = "card">
                <div class = "card-body">
                    <form action="/deliveriesSearch" method="GET">
                        <div class="form-group">
                            <input type="text", name="name", placeholder="Insertar ID del cliente" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text", name="state", placeholder="Insertar el estado" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text", name="topic", placeholder="Insertar tema" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="date", name="init_day", placeholder="Insertar la fecha de inicio" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="date", name="finish_date", placeholder="Insertar la fecha de finalización" class="form-control">
                        </div>
                        <button type= "submit", class="btn btn-info btn-block"> 
                            Buscar 
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class = "col-md-8 mx-auto">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                            <th>ID Cliente</th>
                            <th>Cantidad de Pedidos</th>
                    </tr>
                </thead>
                <tbody>
                    <tbody>
                            <% for(var i = 0; i < result.length; i++) { %>
                                <tr>
                                    <td><%= result[i]._id %></td>
                                    <td><%= result[i].count %></td>
                                </tr>
                            <% } %> 
                    </tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>


<% include Partials/footer%>