<% include partials/header%>

<ul class="list-group">
    <li class="list-group-item">Fecha de entrega: <%= reportDetails.delivery_date%></li>
    <li class="list-group-item">Lugar de entrega: <%= reportDetails.delivery_location%></li>
</ul>
<% include partials/footer%>